<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-blue.css" media="screen"/>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ page.title }}</title>
    <meta name="title" content="{{page.title}}">
    <meta name="description" content="{{page.description}}">
</head>

<body>

<div id=container class="container">

    <div class="inner">

        <header>
            <h1>{{ site.name }}</h1>

            <h2>{{ site.tagline }}</h2>
        </header>

        <section id="downloads" class="clearfix">
            <a href="https://github.com/pulasthi7" id="view-on-github" class="button"><span>Me at GitHub</span></a>
        </section>
    </div>
    <hr>
    {{ content }}
    <hr/>
    {% include footer.html %}

    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-43093148-1");
            pageTracker._trackPageview();
        } catch (err) {
        }
    </script>
</div>
</body>
</html>
